.color1 {
  background: #0c293c;
}
.color2 {
  background: #12465f;
}
.color3 {
  background: #86588d;
  color: #fff4e1;
}
.color4 {
  background: #269cb2;
  color: #0c293c;
}
.color5 {
  background: #f49fe2;
  color: #0c293c;
}
.wrapper {
  position: relative;
  height: 100%;
}

.download-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  border: 1px solid #eee;
  background: #ebf8ff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.text-updater-node {
  padding: 5px;
  border-radius: 50%;
}

.nodelabel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  word-break: break-word;
}

.childnodelabel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 0.85vw;
  word-break: break-word;
}

.subchildnodelabel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 50px;
  height: 50px;
  font-size: 0.7vw;
  word-break: break-word;
}
.handle {
  visibility: hidden;
}

.text-updater-node:hover .plusclass {
  visibility: visible;
}

.buttonclass:hover {
  color: grey;
}

.parentbutton {
  position: relative;
  height: 100px;
  min-width: 100px;
  max-width: 200px;
  background: #86588d;
  color: #fff4e1;
}

.childbutton {
  position: relative;
  height: 70px;
  min-width: 70px;
  max-width: 70px;
}

.subchildbutton {
  position: relative;
  height: 50px;
  min-width: 50px;
  max-width: 50px;
}
.plusclass {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.plusclass:hover {
  visibility: visible;
}
.formclass {
  padding-top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputlabel {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-color: rgb(0, 0, 0);
  width: 80%;
  height: 7px;
  font-size: 7px;
  outline: none;
  color: rgb(0, 0, 0);
}

.secondlevel {
  background-color: black;
}

.tool {
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: relative;
  top: -15%;
}
.qmark {
  font-size: 30px;
  color: #f49fe2;
}

.tooltip {
  display: inline-block;
  text-align: left;
  font-family: "Arial", "Sans Serif";
}

.tooltip .top {
  min-width: 230px;
  top: -20px;
  left: 50%;
  transform: translate(-10%, -100%);
  padding: 10px 20px;
  color: #eeeeee;
  background-color: #666666;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  border: 1px solid #666666;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .top {
  visibility: visible;
  opacity: 1;
}

.tooltip .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .top i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #666666;
  border: 1px solid #666666;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0);
}
